@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FDD023;
}

h1 {
    font-weight: bold;
    color: #461D7C;
    font-size: 40pt;
}

h2 {
    color: #461D7C;
    font-weight: 600;
}

p {
    font-weight: 400;
}

.topnav {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #7549B1;
    border-radius: 0px 0px 25px 25px;
    padding-left: 15px;
    padding-right: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 98%;
}

.topnav li {
    float: right;
}

.topnav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: white;
    color: #7549B1;
}

.pages {
    padding-left: 20vw;
    padding-right: 20vw;
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.titledesc {
    width: 30vw;
}

.datadiri {
    background-color: #7549B1;
    color: white;
    padding: 20px;
    border-radius: 20px;
}

.kontak {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.titlebar {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.porto-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.porto-clmn {
    width: 40vw;
}

.porto-clmn img {
    width: 40vw;
    margin: 3pt;
}

#ikonsosmed {
    margin: 20px;
    width: 20pt;
    margin-bottom: 50pt;
}

#navhome {
    font-weight:bold;
    float: left;
    font-size: larger;
}

#navpages {
    padding-top: 2px;
    font-weight: 600;
}


/* akses di hp */
@media screen and (max-width: 700px) {
    .pages {
        flex-direction: column;
    }

    #akuapiss {
        flex-direction: column-reverse;
    }

    .porto-box {
        flex-direction: column;
        align-items: center;
    }

    .porto-clmn {
        width: 75vw;
    }

    .porto-clmn img {
        width: 75vw;
        margin: 3pt;
    }
}